<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>107297158231-5fselv0tf2gkiji5r4r4bobdcs2gg9gg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.107297158231-5fselv0tf2gkiji5r4r4bobdcs2gg9gg</string>
	<key>API_KEY</key>
	<string>AIzaSyBJjAM6lX7x7t_DG5rFBwAvuSUSXungs58</string>
	<key>GCM_SENDER_ID</key>
	<string>107297158231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gujarathikomal.Curious-Bunny</string>
	<key>PROJECT_ID</key>
	<string>curious-bunny</string>
	<key>STORAGE_BUCKET</key>
	<string>curious-bunny.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:107297158231:ios:b78e05c7a370652f</string>
	<key>DATABASE_URL</key>
	<string>https://curious-bunny.firebaseio.com</string>
</dict>
</plist>